body,html{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:nowrap;
  }
  .box_btn{
    display: inline;
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(127,140,141);
    color: white;
    font-family:sans-serif;
    transition:all 1s ease-in-out;
  }
  .box_btn:hover{
    background-color: rgb(149,165,166);
    box-shadow: 0 2px 5px grey;
  }
  .box_img{
    padding: 2px;
    box-shadow: inset 0 0 0 2px black; 
    transition:all 3s ease-in-out;
  }
  .box_img:hover{
    transform: scale(0.5) rotate(0.5turn);
  }
